Flask>=3.0
flask-SQLAlchemy>=3.1
SQLAlchemy>=2.0
python-dateutil>=2.8.2
Jinja2>=3.1
Werkzeug>=3.0
itsdangerous>=2.1
MarkupSafe>=2.1
gunicorn>=21.2
# psycopg2-binary>=2.9   # فعّلها فقط إذا استخدمت PostgreSQL