{% extends "base.html" %}
{% block content %}
<h1>Employees</h1>

<section class="card">
  <form method="post" class="grid4auto">
    <label>Employee Number<input name="emp_number" required></label>
    <label>Full Name<input name="name" required></label>
    <label>Department<input name="department"></label>
    <label>Site<input name="site"></label>

    <button type="submit" class="btn primary self-end">Add Employee</button>
  </form>
</section>

<section class="card">
  <table class="table">
    <thead><tr><th>Emp. No</th><th>Name</th><th>Department</th><th>Site</th><th class="no-print">Actions</th></tr></thead>
    <tbody>
    {% for e in employees %}
      <tr>
        <td>{{ e.emp_number }}</td>
        <td>{{ e.name }}</td>
        <td>{{ e.department }}</td>
        <td>{{ e.site }}</td>
        <td class="no-print">
          <a class="btn" href="{{ url_for('evaluate_new', emp_id=e.id) }}">New Evaluation</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
